$dark-text: #3E4242;
$light-text: #F5F5F5;
$dark-background: #090B0B;
$light-background: $light-text;
$primary: #B21661;
$light-colors: (
  info: #D1EFFF,
  danger: #4A9EFF, // Apple-inspired blue for light mode
  secondary: #3E4242
);
$dark-colors: (
  info: #0057D2,
  danger: #5AC8FA, // Apple-inspired blue for dark mode
  secondary: #A19B9B
);
