html {
  overscroll-behavior: none;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  position: relative;
}

input, select, textarea, button {
  font-family: inherit;
}

body {
  font-family: Inter, sans-serif;
  font-weight: 400;
  margin: 0;
  overscroll-behavior: none;
  transition: all 0.5s ease-in-out;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  position: relative;

  /* Keep content responsive; avoid clipping */

  &.dark {
    background-color: $dark-background;
    color: $light-text;
  }

  &.light {
    background-color: $light-background;
    color: $dark-text;
  }
  
  > div {
    width: 100%;
    max-width: 100%;
    position: relative;
  }
}

* { box-sizing: border-box; }

hr {
  border-top: 2px solid;
  margin: 0;
}

.not-found-page {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
}

li { margin-left: 2ch; }

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.underline {
  text-decoration: underline;
}
