@use 'sass:map';
@import './colors';

.animated-letter {
  opacity: 0.4;
  will-change: opacity, color;
  transition: color 0.6s ease-in-out, opacity 0.6s ease-in-out;
  -webkit-transition: color 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

/* Accent color fill animation for portfolio intro role */
.portfolio-intro .intro-role .animated-letter {
  color: inherit;
}

.portfolio-intro .intro-role .animated-letter.filled {
  color: map.get($light-colors, danger);
}

.dark .portfolio-intro .intro-role .animated-letter.filled {
  color: map.get($dark-colors, danger);
}
