@use 'sass:math';
@import './intro';
@import './testimonials';
@import './how_i_think';
@import './writing';
@import './hackathons';
@import './github_calendar';
@import './contact_cta';

.about-page {
  display: flex;
  flex-direction: column;
  gap: 4em;
  /* Give the intro breathing room from the navbar, without moving the Toolkit marquee */
  padding-top: 1em;

  .tools-carousel {
    /* Add gap between intro and toolkit */
    margin-top: 2em;
  }

  @media (width >= $breakpoint) {
    padding-top: 1.5em;
    .tools-carousel { margin-top: 3em; }
  }
}

.stacking-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  flex-direction: column;
  align-items: center;

  @media (width >= $max-width) {
    flex-direction: row;
    align-items: stretch;

    > .glass {
      align-self: stretch;
      height: unset;
    }
  }
}
