@use 'sass:math';
@import './intro';
@import './testimonials';
@import './how_i_think';
@import './writing';
@import './hackathons';
@import './github_calendar';

.about-page {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.stacking-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  flex-direction: column;
  align-items: center;

  @media (width >= $max-width) {
    flex-direction: row;
    align-items: stretch;

    > .glass {
      align-self: stretch;
      height: unset;
    }
  }
}
